.marquee.block {
    color: black;
    position: relative;
    border: none;
    overflow: hidden;
    min-height: 426px;
}

.marquee-content {
  color: whitesmoke;
  border: none;
  padding: 48px 2rem 0;
  display: flex;
  -webkit-box-pack: justify;
  flex-flow: column;
  inset: 0;
  box-sizing: border-box;
  width: 100%;
  -webkit-box-align: start;
  align-items: start;
  text-align: left;
  position: relative;
  height: 100%;
  min-height: 426px;

  .text-cta-container {
    margin-top: 1rem;
  }

  .headline p {
    line-height: 30px;
}

.foreground-container img {
padding-left: 100px
}

.text-cta-container .buttons-container p {
  margin:0;
 }

 .foreground-container {
  text-align: center;
}

.text-cta-container > .buttons-container
  {
    display: flex;
    flex-direction: column;
    -webkit-box-align: center;
    align-items: center;
    width: fit-content;
    max-width: unset;
    margin:0 auto;

    a.button.primary {
      min-width: 180px;
    }
  }

  .offer-details a.button.text {
    max-width: 200px;

  .link-button-text {
    color:#fff;
    font-weight: 500;
  }
  }

h1 {
    text-shadow: #fc0 1px 0 10px;
  font-size: 55px;
  line-height: 1.2;
  font-weight: 800;
  letter-spacing: -1.15px;
  margin: 0 0 1rem;
}

h2 {
  line-height: 1.2;
  letter-spacing: -1.15px;
  margin: 0.5rem 0 1rem;
  -webkit-font-smoothing: antialiased;
  text-wrap: wrap;
  scroll-margin: 0;
}
  }


  .marquee .background {
    position:absolute;
    z-index: 0;
    inset: 0;
    height: 100%;

      picture {
          display: unset;
      }

  video,picture img{
    position: relative;
    z-index: 0;
    object-fit: cover;
    width: 100%;
    box-sizing: border-box;
    inset: 0;
    height: 100%;
  }
  }


