

.melting-text h2 {
  font-size: 5rem; 
  color: rgb(230 0 0 / 80%);
  text-shadow: 0 0 10px rgb(230 0 0);
  animation: melt 2s infinite alternate ease-in-out;
  filter: blur(0.5px);
}

@keyframes melt {
  0% {
    transform: skewY(0deg);
    filter: blur(0.5px);
  }

  100% {
    transform: skewY(5deg) translateY(5px);
    filter: blur(1.5px);
  }
}