.columns-container {
  display: flex;
  flex-direction: row; 
  align-items: center; 
  gap: 20px; 
  justify-content: center; 
}

.columns.block.columns-1-cols {
  display: flex; 
}

.columns-row {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 20px; 
}

/* Styling for the lights */
.columns-img-col {
  width: 100px; 
  height: 100px;
  background-color: red; 
  border-radius: 50%; 
  animation: flash 1s infinite alternate; 
}

/* Flashing animation */
@keyframes flash {
  0% {
    background-color: red;
    opacity: .8; 
  }

  100% {
    background-color:transparent; 
    opacity: 0.7; 
  }
}
